/* Navbar Start */

.bg_nav{
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.navbar-light .navbar-nav .nav-link.active{
    color: #5D16A6;
}

a.nav-link {
    font-family: 'Poppins';
    font-weight: 500;
}

/* Navbar End */

.dropdown-item.active, .dropdown-item:active{
    background-color: #5D16A6;
}