body {
    font-family: 'Poppins';
}

/* Navbar Start */

.bg_nav{
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.navbar-light .navbar-nav .nav-link.active{
    color: #5D16A6;
}

a.nav-link {
    font-family: 'Poppins';
    font-weight: 500;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: #5D16A6;
}

/* Navbar End */

/* Jumbotron Start */

.jumbotron {
    background-color: #C4C4C4;
    height: 332px;
}

.jumbotron h1 {
    font-size: 60px;
    font-weight: 900;
}

.jumbotron p {
    font-size: 15px;
}

/* Jumbotron End */

.flow h1 {
    margin-top: 80px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.card {
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.15);
    width: 305px;
    height: 350px;
}

.card-img-top {
    margin: 30px auto;
    width: 130px;
}

.card-flow {
    flex: 1 1 auto;
    padding: 30px 25px;
}

.flow h4 {
    font-size: 18px;
    margin-top: -30px; 
}

.flow p {
    font-size: 15px;
    color: #707070;
    margin: 15px auto;
}

.btn-flow {
    background-color: #2880CE;
    border-radius: 5px;
}

.btn-flow:hover {
    background-color: #256ead;
    transition-duration: 0.3s;
}

.flow a {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #5D16A6;
}

.flow a:hover {
    color: #fff;
    background-color: #531591;
}