body {
    font-family: 'Poppins';
}

/* Navbar */
.bg_nav{
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.navbar-light .navbar-nav .nav-link.active{
    color: #5D16A6;
}

a.nav-link {
    font-family: 'Poppins';
    font-weight: 500;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: #5D16A6;
}

/* Jumbotron */
.jumbotron {
    background-color: #C4C4C4;
    height: 332px;
}

.jumbotron h1 {
    font-size: 60px;
    font-weight: 900;
}

.jumbotron p {
    font-size: 15px;
}

/* Card  */
.card{
    height: 32rem;
    border-radius: 20px 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    border: none;
}

.card:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.card-img, .card-img-top {
    border-radius: 20px 20px 0px 0px;
}

.card-body{
    padding: 20px 25px;
}

.card-title{
    font-weight: 700;
    font-size: 18px;
}

.card-text{
    font-weight: 400;
    font-size: 15px;
}

.btn-card{
    text-decoration: none;
    color: #fff;
    background-color: #5D16A6;
    padding: 10px 30px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.btn-card:hover{
    color: #5D16A6;
    background-color: #fff;
    border: 1px solid #5D16A6;
}

/* footer */
.bg-g{
    height: 35rem;
    width: 100%;
    background: linear-gradient(0.21deg, #000000 -28.09%, #3D0066 107.68%);
}

.row-footer{
    padding: 5rem 1rem;
}

footer img{
    margin-bottom: 30px;
}

.title-footer, .title-footer-menu, .title-footer-hub{
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.05em;
}

.text-footer{
    font-size: 15px;
    color: #F0F0F0;
}

.line{
    border-right: 1px solid #C4C4C4;
}

.text-footer-menu{
    color: #ffffff;
    font-size: 15px;
    line-height: 200%;
}

.text-footer-menu ul{
    list-style-type: disc;
}

.text-footer-menu a{
    text-decoration: none;
    color: #F0F0F0;
    
}

.text-footer-menu a:hover{
    text-decoration: underline;
}

.contact{
    color: #F0F0F0;
    margin-top: 1rem;
    font-size: 18px;
}

.contact a{
    margin-left: 1rem;
    color: #F0F0F0;
    text-decoration: none;
}

.maps{
    margin-top: 20px;
}

.copyright{
    color: #f0f0f0;
    margin: 0 1rem;
}

.copyright p{
    font-size: 13.5px;
}

.btn-copyright a{
    padding: 0 .5rem;
    font-size: 13.5px;
    font-weight: 700;
    color: #f0f0f0;
    text-decoration: none;
}